body{
    background-color: yellowgreen;
}

p{
    color:white;
}

h1{
    font-family: Arial;
    font-size: 22px;
}

h2{
    text-align: center;
}

.altP{
    background-color: aqua;
    color: black;
    text-align: center;
}

.altP2{
    text-align: right;
}

.altP3{
    border: 1px solid black;
}

a{
    text-decoration: none;
}